{% extends 'comic/base.html' %}

{% block head %}
    {{ block.super }}
    
    {% if comic %}
        <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'comic:permalink' comic.id %}" />

        <!--For Facebook share button-->
        <meta property="og:url"           content="{{ request.scheme }}://{{ request.get_host }}{% url 'comic:permalink' comic.id %}"/>
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="Butter Is My Cat" />
        <meta property="og:description"   content="Comics about meow meows and other things" />
        <meta property="og:image"         content="{{ request.scheme }}://{{ request.get_host }}{{ comic.image.url }}" />
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if comic %}
            <div class="row">
                {% if comic.show_title %}
                    <h1 class="text-center">{{ comic.title }}</h1>
                {% else %}
                    {% include 'comic/comic_nav.html' %}
                {% endif %}
                <img src="{{ comic.image.url }}" hover="{{ comic.hover_text }}" class="img-responsive center-block" alt="Responsive image">
            
                {% include 'comic/comic_nav.html' %}
            </div>
            
            <!-- Twitter share button -->
            <div>
                <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a>
            </div>

            <!-- Facebook share button -->
            <div class="fb-share-button" 
                data-href="{{ request.scheme }}://{{ request.get_host }}{% url 'comic:permalink' comic.id %}" 
                data-layout="button_count">
            </div>

            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = "{{ request.scheme }}://{{ request.get_host }}{% url 'comic:permalink' comic.id %}";
                    this.page.identifier = "{% url 'comic:permalink' comic.id %}";
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = '//butterismycat.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>
                Please enable JavaScript to view the 
                <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
            </noscript>
        {% else %}
            <p>Could not find the requested comic</p>
            <!-- TODO: Make this error page have some neat comic -->
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <!-- Load Twitter widgets js for share button-->
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Load Facebook SDK for share button-->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock %}